ul {
    columns: 5;
    padding: 5px;
    margin-top: 25px;
    -webkit-columns: 5;
    -moz-columns: 5;
  }
  
li {
    padding: 5px;
    margin: 5px;
    background-color:rgba(124, 124, 124, 0.281);
    color: transparent;
    text-indent: -9999px;
    line-height: 1.5em;
    height: auto;
  }

  
